@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#solutia {
    display: none;
    margin: 20px;
    background-color: rgb(0, 168, 168);
    width: 20%;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    border: solid darkcyan 2px;
}

body {
    text-align: center;
    background-color: cyan;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#video {
    border-radius: 20px;
    border: solid darkcyan 2px;
    display: none;
    width: 20%;
    height: 5%;
}

#start {
    width: 7.5%;
    height: 50px;
    border-radius: 15px;
    border: solid darkcyan 2px;
    font-size: 25px;
    background-color: rgb(0, 175, 175);
    cursor: pointer;
}